@mixin sprite {
  background-image: url("../img/sprite@2x.png");
  background-repeat: no-repeat;
  background-size: 43px 425px;
}

.sprite {
  display: block;
  background-image: url("img/sprite@2x.png");
  background-repeat: no-repeat;
}

.sprite-ico-arrow {
  width: 36px;
  height: 28px;
  background-position: -10px -10px;
}

.sprite-ico-calendar--active {
  width: 62px;
  height: 50px;
  background-position: -10px -58px;
}

.sprite-ico-calendar-arrow {
  width: 20px;
  height: 36px;
  background-position: -10px -128px;
}

.sprite-ico-calendar {
  width: 62px;
  height: 50px;
  background-position: -10px -184px;
}

.sprite-ico-delete {
  width: 28px;
  height: 28px;
  background-position: -10px -254px;
}

.sprite-ico-edit {
  width: 30px;
  height: 30px;
  background-position: -10px -302px;
}

.sprite-ico-mail--active {
  width: 66px;
  height: 42px;
  background-position: -10px -352px;
}

.sprite-ico-mail {
  width: 66px;
  height: 42px;
  background-position: -10px -414px;
}

.sprite-ico-setting--active {
  width: 56px;
  height: 57px;
  background-position: -10px -476px;
}

.sprite-ico-setting {
  width: 56px;
  height: 57px;
  background-position: -10px -553px;
}
