<section class="section section--single">
  <h2 class="section__title">Делегировать приглашение</h2>
  <div class="container form">
    <p class="section__lead">Вы можете отправить приглашение на  Открытую тренировку для предпринимателей. Мероприятие состоится 25 мая в 14:00. Напишите данные гостя.</p>
    <form action="" method="">
      <div class="form-row form-row--single">
        <div class="form-col">
          <input type="text" placeholder="ФИО">
        </div>
        <div class="form-col">
          <input type="text" placeholder="E-mail">
        </div>
      </div>
      <div class="form-row">
        <button class="btn btn--default" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</section>
