<section class="promo">
  <div class="container">
    <div class="promo__content">
      <p>Лига Легенд Сбербанка представляет:</p>
      <h1 class="promo__title">Открытая тренировка<br>для предпринимателей.</h1>
      <p class="promo__small">
        <b class="promo__strong">25 мая 2016</b>
        Конференц-зал Сбербанка,<br>Вавилова, 19
      </p>
    </div>
  </div>
</section>

<div class="inner-text container">
  <p>Бизнес в современном мире всё больше становится похож на хоккейный матч, где скорость, сила и рациональный расчет всегда приводит к победе, а «великолепная пятёрка» становится легендой. </p>
  <hr>
  <p>Реализуйте амбициозные задачи! Добейтесь невозможного! Станьте Легендой в бизнесе! Научитесь тому, что умеют самые смелые хоккейные игроки!</p>
  <p class="lead">25 мая в конференц зале Сбербанка по адресу: г. Москва, Вавилова, 19 пройдет открытая тренировка Лидеров бизнеса. Они расскажут о том, кем надо быть, чтобы побеждать? Как грамотно разыграть комбинацию? Как не отойти к воротам в глухую оборону?</p>
</div>

<section class="section">
  <h2 class="section__title">Вы готовы?<br>Тогда все на лёд!</h2>
  <div class="container team">
    <figure class="person">
      <img src="" width="70" height="70" alt="">
      <figcaption class="person__name">
        Михаил Федоренко
        <span>Генеральный директор «Деловая среда»</span>
      </figcaption>
    </figure>
    <figure class="person">
      <img src="" width="70" height="70" alt="">
      <figcaption class="person__name">
        Андрей Шаронов
        <span>Ректор  Московской школы управления «Сколково»</span>
      </figcaption>
    </figure>
    <figure class="person">
      <img src="" width="70" height="70" alt="">
      <figcaption class="person__name">
        Владимир Волошин
        <span>Предприниматель, 4-х кратный финишер триатлона Ironman, сооснователь проекта IRONSTAR</span>
      </figcaption>
    </figure>
    <figure class="person">
      <img src="" width="70" height="70" alt="">
      <figcaption class="person__name">
        Брайан Трейси
        <span>Мировой эксперт в области психологии успеха, автор более чем 60 книг. </span>
      </figcaption>
    </figure>
    <figure class="person">
      <img src="" width="70" height="70" alt="">
      <figcaption class="person__name">
        5-й лидер
        <span>«Тёмная лошадка». Имя этого спикера вы узнаете в день мероприятия</span>
      </figcaption>
    </figure>
  </div>
</section>

<section class="section">
  <h2 class="section__title">Программа<br>мероприятия</h2>
  <div class="container timeline">
    <div class="timeline__item timeline__item--gray">
      <p class="timeline__text">Сбор гостей</p>
      <div class="timeline__time">13:00 – 14:00</div>
    </div>
    <div class="timeline__item timeline__item--green">
      <p class="timeline__text">Деловая программа:<br>открытая тренировка Лиги Легенд</p>
      <div class="timeline__time">14:00 – 16:20</div>
    </div>
    <div class="timeline__item timeline__item--orange">
      <p class="timeline__text">Фуршет</p>
      <div class="timeline__time">16:20 – 19:00</div>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__title">Как попасть</h2>
  <div class="container steps">
    <div class="step step--1">
      <div class="step__title">Шаг №1</div>
      <p>Получите приглашение по e-mail</p>
    </div>
    <div class="step step--2">
      <div class="step__title">Шаг №2</div>
      <p>Подтвердите свое участие по ссылке</p>
    </div>
    <div class="step step--3">
      <div class="step__title">Шаг №3</div>
      <p>Приходите 25 мая 2016 года по адресу гор. Москва, ул. Вавилова д. 19 (конференц-зал Сбербанка)</p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__title">Вы не получили приглашение?</h2>
  <div class="container form">
    <p class="section__lead">Попасть на мероприятие просто — напишите почему Вы достойны стать легендой и попасть в 50 лучших, которые смогут присоединиться к гостям мероприятия</p>
    <form action="" method="">
      <div class="form-row">
        <div class="form-col">
          <input type="text" placeholder="ФИО">
        </div>
        <div class="form-col">
          <input type="text" placeholder="Дата рождения дд/мм/гггг">
        </div>
      </div>
      <div class="form-row">
        <div class="form-col">
          <input type="text" placeholder="E-mail">
        </div>
        <div class="form-col">
          <input type="text" placeholder="Телефон">
        </div>
      </div>
      <div class="form-row">
        <textarea placeholder="Эссе"></textarea>
      </div>
      <div class="form-row">
        <button class="btn btn--default" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</section>

<section class="section">
  <h2 class="section__title">Видеотрансляция</h2>
  <div class="container">
    <p class="section__lead">Если нет возможности попасть на мероприятие, подключайся к видеотрансляции! Мы начинаем 25 мая в 14:00.</p>
    <a href="video.html" class="video">Смотреть видеотрансляцию</a>
  </div>
</section>
