.footer {
  padding: 40px 0 35px;
  background-color: #e6e6e6;

  @media (max-width: 768px){
    text-align: center;
  }

  &__top {
    margin-bottom: 50px;

    @include clearfix;
  }

  &__tel {
    margin-bottom: 10px;
    color: #666666;
    font-size: 36px;
    font-weight: 300;
  }

  &__mail {
    color: #ff9907;
    text-decoration: none;
    font-weight: 400;
  }
}

.copywrite {
  max-width: 700px;
  margin: 0;
  margin-top: 60px;
  color: #808080;
  font-size: 14px;
  line-height: 20px;

  &--video {
    margin-top: 0;
    float: right;
    max-width: 680px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}
